{{- $source := "scss/timelinejs.scss" -}}
{{- $target := "css/main.css" -}}

<!-- TODO: remove debug statement -->
{{- $files := slice -}}
{{- range $index, $file := resources.Match "**.scss" -}}
    {{- warnf "Processing file: %s" $file }}
    {{- $files = $files | append $file -}}
{{- end -}}

{{- $options := (dict "transpiler" "libsass" "targetPath" $target) -}}
{{- $options = merge $options (dict "outputStyle" "expanded") -}}

{{- $css := resources.GetMatch $source | resources.ExecuteAsTemplate "style.app.scss" . | toCSS $options -}}

<link rel="stylesheet" href="{{ $css.Permalink }}" crossorigin="anonymous" type="text/css">
<link rel="stylesheet" href="/style.css">
